# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Video files
public/videos/cafe.mp4
public/videos/Resume.mp4
public/videos/resume.mp4
public/videos/plugin.mp4
public/videos/docnew.mp4
public/videos/doc.mp4
public/videos/PLUGIN*.mp4
